:root {
  --title-font: 'Trajan Pro 3';
  --subtitle-font: 'TT Norms';
}

@font-face {
  font-family: 'Trajan Pro 3';
  src: url('#{$font-path}/TrajanPro3-Light.eot');
  src: local('Trajan Pro 3 Light'), local('TrajanPro3-Light'),
      url('#{$font-path}/TrajanPro3-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/TrajanPro3-Light.woff2') format('woff2'),
      url('#{$font-path}/TrajanPro3-Light.woff') format('woff'),
      url('#{$font-path}/TrajanPro3-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('#{font-path}/TTNorms-Light.eot');
  src: local('TT Norms Light'), local('TT-Norms-Light'),
      url('#{font-path}/TTNorms-Light.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/TTNorms-Light.woff2') format('woff2'),
      url('#{$font-path}/TTNorms-Light.woff') format('woff'),
      url('#{$font-path}/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('#{font-path}/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TT-Norms-Medium'),
      url('#{font-path}/TTNorms-Medium.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/TTNorms-Medium.woff2') format('woff2'),
      url('#{$font-path}/TTNorms-Medium.woff') format('woff'),
      url('#{$font-path}/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-weight-light: 300;
}
