@import 'utils/variables';
@import 'utils/functions';

@import 'base/reset';
@import 'base/typography';
@import 'base/colors';

@import 'vendors/include-media';

* {
  box-sizing: border-box;
}

html {
  @include media('>481px', '<1366px') {
    font-size: 1.17vw;
  }
  @include media('<=360px') {
    font-size: 14px;
  }
}

body {
  min-height: 100vh;
  position: relative;
  background: {
    image: url('../img/app-background.jpg');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  @include media('<481px') {
    background: {
      image: url('../img/app-background-sm.jpg');
      position: top center;
      size: auto 100%;
    }
  }
}

#app {
  // height: 100vh;
  margin: 0 auto;
  max-width: 1480px;
  padding: {
    left: em(15);
    right: em(15);
  }
}

.background-mockup {
  bottom: 0;
  height: em(533);
  position: absolute;
  z-index: -1;
  @include media('<481px') {
    display: none;
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}

.header {
  align-items: center;
  display: grid;
  padding-top: em(50);
  @include media('>=481px') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<481px') {
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
  }

  &-logo {
    @include media('>=481px') {
      justify-self: start;
    }
    @include media('<481px') {
      margin-bottom: em(20);
    }

    & img {
      height: em(55);
    }
  }

  &-title {
    align-items: center;
    text-align: center;
    @include media('>=481px') {
      justify-self: center;
    }
    @include media('<481px') {
      margin-bottom: em(30);
    }

    & span {
      color: var(--light-color);
      line-height: 1.4;
      opacity: 0.3;
      font: {
        family: var(--subtitle-font);
        weight: 300;
        size: em(14);
      }
    }
  }

  &-contact {
    text-align: center;
    @include media('>=481px') {
      justify-self: end;
    }

    &__phone {
      color: var(--light-color);
      line-height: 2;
      font: {
        family: var(--title-font);
        size: em(28);
      }
      @include media('<481px') {
        display: none;
      }
    }

    &__link {
      color: var(--accent-color-cyan);
      text-transform: uppercase;
      font: {
        family: var(--subtitle-font);
        size: em(12);
      }
      @include media('<481px') {
        color: var(--light-color);
      }
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: em(70);
  @include media('<481px') {
    align-items: center;
    flex-direction: column;
    padding-top: em(50);
  }

  &-content {
    @include media('<481px') {
      text-align: center;
      margin-bottom: em(200);
    }
  }

  &__title {
    color: var(--light-color);
    line-height: 1.2;
    margin-bottom: 50px;
    font: {
      family: var(--title-font);
      size: em(60);
    }
    @include media('<481px') {
      font-size: em(30);
    }

    & strong {
      color: var(--accent-color-khaki);
    }
  }

  &__subtitle {
    color: var(--light-color);
    line-height: 1.4;
    margin-bottom: 40px;
    font: {
      family: var(--subtitle-font);
      size: em(26);
      weight: 300;
    }
    @include media('<481px') {
      font-size: em(18);
    }

    & strong {
      font-weight: 500;
    }
  }

  &__button {
    background: linear-gradient(to bottom, #dec07a, #cea959);
    border-radius: em(15);
    box-shadow: 0px 5px 2px 0px #8f753c, 0px 5px 60px 20px rgba(255, 255, 255, 0.2);
    color: #372a2a;
    display: inline-block;
    padding: em(45) em(95);
    text-decoration: none;
    text-transform: uppercase;
    font: {
      family: var(--subtitle-font);
      size: em(16);
      weight: 500;
    }
    @include media('<481px') {
      box-shadow: 0px 5px 2px 0px #8f753c, 0px 5px 60px 20px rgba(89, 189, 201, 0.2);
    }
  }

  &-features {
    background-color: var(--dark-color);
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    max-width: em(280);
    min-height: em(650);
    min-width: em(280);
    padding: em(45) 0;
    position: relative;
  }

  &__feature {
    padding: 0 em(45);
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);

    &::before {
      background-color: var(--accent-color-khaki);
      border-radius: em(5);
      content: '';
      display: block;
      height: em(50);
      left: 0;
      position: absolute;
      transform: translateX(-50%);
      width: em(15);
      z-index: -1;
    }

    &::after {
      background-color: var(--accent-color-khaki);
      border-bottom-right-radius: em(10);
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      content: '';
      display: block;
      height: em(30);
      left: 0;
      position: absolute;
      top: em(10);
      transform-origin: 50% 50%;
      transform: translateX(-55%) rotate(-45deg);
      width: em(30);
    }

    &-title {
      color: var(--accent-color-khaki);
      line-height: 1.4;
      margin-bottom: em(20);
      font: {
        family: var(--title-font);
        size: em(16);
      }
    }

    &-subtitle {
      color: var(--light-color);
      line-height: 1.4;
      font: {
        family: var(--subtitle-font);
        size: em(16);
        weight: 300;
      }
    }
  }
}

.footer {
  background-color: transparent;
  display: grid;
  padding-top: em(75);
  padding-bottom: em(25);
  @include media('>=481px') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<481px') {
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
  }

  & div {
    align-items: center;

    @include media('>=481px') {
      &:nth-child(2) {
        justify-self: start;
      }

      &:nth-child(3) {
        justify-self: center;
      }

      &:nth-child(4) {
        justify-self: end;
      }
    }

    @include media('<481px') {
      &:nth-of-type(4) {
        order: 3;
      }
      &:nth-of-type(3) {
        order: 2;
      }
      &:nth-of-type(2) {
        order: 4;
      }
    }
  }

  &-contact {
    text-align: center;
    margin-bottom: em(50);
    @include media('>481px') {
      display: none;
    }

    &__phone {
      color: var(--light-color);
      line-height: 2;
      font: {
        family: var(--title-font);
        size: em(28);
      }
    }

    &__link {
      color: var(--light-color);
      text-transform: uppercase;
      font: {
        family: var(--subtitle-font);
        size: em(12);
      }
    }
  }

  &-developer {
    @include media('<481px') {
      margin-top: em(40);
    }

    & a {
      color: var(--accent-color-cyan);
      font: {
        family: var(--subtitle-font);
        size: em(14);
      }
    }
  }

  &-pass, &-politics {
    text-align: center;
    @include media('<481px') {
      margin-bottom: em(10);
    }

    & * {
      color: var(--light-color);
      opacity: 0.3;
      font: {
        family: var(--subtitle-font);
        size: em(14);
        weight: 300;
      }
    }
  }
}
