.modal-policy {
  &__wrapper {
    background-color: var(--dark-color);
    border-radius: em(10);
    color: var(--light-color);
    font-family: var(--subtitle-font);
    margin: 0 auto;
    max-width: em(1170);
    min-width: em(1170);
    min-height: em(775);
    padding: em(65) em(70);
    text-align: center;
    @include media('<=sm') {
      max-width: em(480);
      min-width: 100%;
      padding: em(50) em(25);
    }
  }

  &__content {
    text-align: left;
    p {
      line-height: 1.8;
      margin-bottom: em(15);
      font: {
        size: em(18);
        weight: 300;
      }

      strong {
        font-weight: 500;
      }
    }
  }

  &__title {
    line-height: 1.4;
    margin-bottom: em(20);
    font: {
      size: em(24);
      weight: 500;
    }
  }
}
