.quiz {

  &-form {
    background-color: var(--dark-color);
    border-radius: em(10);
    color: var(--light-color);
    font-family: var(--subtitle-font);
    margin: 0 auto;
    max-width: em(1170);
    min-width: em(1170);
    min-height: em(775);

    &-wrapper {
      display: flex;
      justify-content: space-between;
      height: em(775);
      max-height: em(775);
      min-width: em(775);
      padding: em(65) em(75) em(70);
    }
  }

  &-main {
    display: grid;
    grid-gap: em(30);
    grid-template: 'hint' em(50) 'steps' em(560)/auto;
    max-width: em(615);
    min-width: em(615);
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: em(300);
    min-width: em(300);
  }

  &-cta {
    display: grid;
    grid-template: 'logo' max-content 'progress' max-content '.' auto/ auto;
    justify-items: center;
    width: 100%;

    &-logo {
      grid-area: logo;
      margin-bottom: em(35);
    }

    &-progress {
      grid-area: progress;
      max-width: em(610);
      min-width: em(610);
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-thanks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: em(610);
      min-width: em(610 );

      &__title {
        margin-bottom: 15px;
        font: {
          size: em(30);
          weight: 300;
        }
      }

      &__subtitle {
        line-height: 1.4;
        opacity: 0.3;
        font: {
          size: em(20);
          weight: 300;
        }
      }
    }

    &-gifts {
      &__title {
        margin-bottom: 20px;
        font: {
          size: em(16);
          weight: 300;
        }
      }
    }

    &-contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: em(300);
      min-width: em(300);

      &__title {
        margin-bottom: 20px;
        font: {
          size: em(26);
          weight: 300;
        }
      }

      &__subtitle {
        line-height: 1.4;
        opacity: 0.4;
        font: {
          size: em(14);
          weight: 300;
        }
      }
    }

    &__input {
      &:not(:last-child) {
        margin-bottom: em(25);
      }

      &-title {
        margin-bottom: 15px;
        font: {
          size: em(14);
          weight: 300;
        }
      }

      &-items {
        display: flex;
        justify-content: space-between;
      }

      &-radio {
        position: relative;

        & input[type="radio"] {
          display: none;
        }

        & input[type="radio"]:checked + .quiz-cta__input-radio-bg {
          fill: var(--accent-color-green);
        }

        &-bg {
          fill: var(--dark-color-lighter);
          max-height: em(80);
          min-height: em(80);
          max-width: em(70);
          min-width: em(70);
          transition: fill .25s;
        }

        &-icon {
          position: absolute;
          top: em(15);
          left: 50%;
          transform: translateX(-50%);
          width: em(35);
          height: em(35);
        }

        &-title {
          bottom: em(20);
          left: 50%;
          opacity: 0.4;
          position: absolute;
          transform: translateX(-50%);
          font: {
            size: em(10);
            weight: 300;
          }
        }
      }

      &-field {
        display: block;
        position: relative;
        width: 100%;

        & input {
          background: transparent;
          border: none;
          color: var(--light-color);
          display: block;
          height: 100%;
          opacity: 0.4;
          padding: 0 em(35);
          position: absolute;
          width: 100%;
          font: {
            size: em(16);
            weight: 300;
          }

          &:focus {
            opacity: 1;
            outline: none;
          }
        }

        &-bg {
          display: block;
          max-height: em(75);
          min-height: em(75);
          min-width: 100%;
          width: 100%;
        }
      }
    }

    &__submit-btn {
      align-items: center;
      background: linear-gradient(to bottom, #dec07a, #cea959);
      border-radius: 15px;
      box-shadow: 0px 4px 2px 0px #8f753c, 0px 5px 20px 5px rgba(#dec07a, 0.2);
      display: inline-flex;
      justify-content: center;
      max-height: 75px;
      min-height: 75px;
      max-width: 100%;
      min-width: 100%;
      transition: .25s;

      & span {
        color: #372a2a;
        text-transform: uppercase;
        white-space: nowrap;
        font: {
          size: em(13);
          weight: 500;
        }
      }
    }

    &__gift {
      background-color: var(--dark-color-lighter);
      border-radius: em(10);
      max-height: em(285);
      min-height: em(285);
      max-width: em(295);
      min-width: em(295);
      position: relative;

      &-wrapper {
        display: flex;
        justify-content: space-between;
      }

      &-title {
        left: em(25);
        line-height: 1.4;
        position: absolute;
        top: em(25);
        font: {
          size: em(14);
          weight: 300;
        }

        & strong {
          font-weight: 500;
        }
      }

      &-img {
        bottom: 0;
        max-height: em(200);
        max-width: em(285);
        position: absolute;
        right: 0;
      }
    }
  }

  &-hint {
    display: flex;
    align-items: center;

    &__logo {
      height: 100%;
      margin-right: em(35);

      & img {
        height: 100%;
      }
    }

    &__text {
      color: var(--light-color);
      line-height: 1.4;
      opacity: 0.4;
      font: {
        family: var(--subtitle-font);
        size: em(12);
        weight: 300;
      }
    }
  }

  &-step {
    display: none;
    grid-template-rows: repeat(3, max-content) auto;
    height: 100%;

    &.is-active {
      display: grid;
    }

    .title {
      line-height: 1.4;
      margin-bottom: em(25);
      font: {
        size: em(24);
      }
    }

    .radio {
      cursor: pointer;
      position: relative;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: em(15);
      }

      &-items {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-input {
        display: none;
      }

      &-input:checked + .radio-bg + .radio-point {
        border-color: var(--accent-color-green);
        &_check {
          background-color: var(--accent-color-green);
        }
      }

      &-bg {
        fill: var(--dark-color-lighter);
        max-height: em(75);
        min-height: em(75);
        max-width: em(300);
        min-width: em(300);
      }

      &-point {
        border: 4px solid rgba(#fff, 0.3);
        border-radius: 50%;
        display: block;
        height: em(25);
        left: em(25);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .15s;
        width: em(25);

        &_check {
          border-radius: em(10);
        }
      }

      &-text {
        left: em(75);
        position: absolute;
        right: em(25);
        top: 50%;
        transform: translateY(-50%);
        font: {
          size: em(16 );
          weight: 300;
        }
      }
    }

    .controls {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;

      &__button {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        max-height: em(85);
        min-height: em(85);
        max-width: em(300);
        min-width: em(300);
        text-transform: uppercase;
        transition: .25s;
        white-space: nowrap;
        font: {
          size: em(16);
        }

        &[disabled] {
          opacity: 0.5;
        }

        &_next {
          background: linear-gradient(to bottom, #dec07a, #cea959);
          border-radius: em(15);
          box-shadow: 0px 4px 2px 0px #8f753c, 0px 5px 20px 5px rgba(#dec07a, 0.2);
          color: #372a2a;
          font-weight: 500;
        }

        &_skip {
          color: var(--light-color);
          text-decoration: underline;
          font-weight: 300;
        }

        &-arrow {
          height: em(18);
          margin-left: em(15);
          width: em(28);
        }
      }
    }
  }

  &-help {

    &__manager {
      align-items: center;
      display: flex;
      font-size: em(16);
      line-height: 1.4;
      margin-bottom: em(30);

      &-avatar {
        margin-right: em(20);
      }

      &-title {
        font-weight: 300;
      }

      &-subtitle {
        font-weight: 300;
        opacity: 0.4;
      }
    }

    &__cloud {
      background-color: #292e31;
      border-radius: em(8);
      max-height: em(220);
      min-height: em(220);
      padding: em(30);
      position: relative;

      &::before {
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #292e31 transparent;
        bottom: 99%;
        height: 0;
        left: em(30);
        width: 0;
        @include pseudo;
      }

      &-text {
        line-height: 1.7;
        font: {
          size: em(14);
          weight: 300;
        }
      }
    }
  }

  &-youget {
    line-height: 1.4;
    font: {
      size: em(14);
      weight: 300;
    }

    &__title {
      margin-bottom: em(20);
    }

    &__gift {
      background-color: #292e31;
      border-radius: em(8);
      max-height: em(95);
      min-height: em(95);
      position: relative;

      &:not(:last-child) {
        margin-bottom: em(20);
      }

      &-title {
        left: em(25);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &-pic {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
