.quiz {
  font-family: var(--subtitle-font);

  &-form {
    background-color: var(--dark-color);
    border-radius: em(10);
    color: var(--light-color);
    font-family: var(--subtitle-font);
    margin: 0 auto;
    max-width: em(1170);
    min-width: em(1170);
    min-height: em(775);

    &-wrapper {
      display: grid;
      grid-gap: em(35) em(105);
      grid-template: {
        rows: minmax(em(55), max-content) minmax(em(560), max-content);
        columns: em(615) em(300);
        areas: 'topbar sidebar'
               'main sidebar';
      }
      padding: em(65) em(75) em(70);

      &.last-step {
        grid-template-areas: 'topbar topbar'
                             'main main';
        justify-items: center;

        & .quiz-sidebar {
          display: none;
        }
      }
    }
  }

  &-topbar {
    align-items: center;
    display: flex;
    grid-area: topbar;
  }

  &-main {
    grid-area: main;
    width: 100%;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    justify-content: space-between;
    &__help {

      &-manager {
        align-items: center;
        display: flex;
        font-size: em(16);
        line-height: 1.4;
        margin-bottom: em(30);
      }

      &-avatar {
        margin-right: em(20);
      }

      &-title {
        font-weight: 300;
      }

      &-subtitle {
        font-weight: 300;
        opacity: 0.4;
      }

      &-cloud {
        background-color: #292e31;
        border-radius: em(8);
        max-height: em(220);
        min-height: em(220);
        padding: em(30);
        position: relative;

        &::before {
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #292e31 transparent;
          bottom: 99%;
          height: 0;
          left: em(30);
          width: 0;
          @include pseudo;
        }

        p {
          line-height: 1.7;
          font: {
            size: em(14);
            weight: 300;
          }
        }
      }
    }

    &__youget {
      line-height: 1.4;
      font: {
        size: em(14);
        weight: 300;
      }

      &-title {
        margin-bottom: em(20);
      }

      &-gift {
        background-color: #292e31;
        border-radius: em(8);
        max-height: em(95);
        min-height: em(95);
        position: relative;

        &:not(:last-child) {
          margin-bottom: em(20);
        }

        p {
          left: em(25);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        img {
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  &-description {
    align-items: center;
    display: flex;
    margin-bottom: em(30);

    &__logo {
      margin-right: em(35);
      min-height: em(50);
      width: auto;
    }

    &__text {
      line-height: 1.4;
      opacity: 0.4;
      font: {
        size: em(14);
        weight: 300;
      }
    }
  }

  &-step {
    display: none;

    &.is-active {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &.is-last {
      align-items: center;
    }

    &__progress {
      margin-bottom: em(35);
    }

    &__title {
      line-height: 1.4;
      margin-bottom: em(25);
      font: {
        size: em(24);
        weight: 500;
      }
    }

    &__answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__answer {
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: em(15);
      }

      & input[type="radio"]:checked + &-marker {
        border-color: var(--accent-color-green);
      }

      & input[type="checkbox"]:checked + &-marker {
        background-color: rgba(#709e42, 0.65);
        border-color: var(--accent-color-green);
      }

      &-marker {
        border: 4px solid rgba(#fff, 0.3);
        display: block;
        height: em(25);
        left: em(25);
        top: 50%;
        transform: translateY(-50%);
        transition: .25s;
        width: em(25);
      }

      &-bg {
        fill: var(--dark-color-lighter);
        max-height: em(75);
        min-height: em(75);
        max-width: em(300);
        min-width: em(300);
      }

      &-text {
        left: em(75);
        right: em(25);
        top: 50%;
        transform: translateY(-50%);
        font: {
          size: em(16);
          weight: 300;
        }
      }

    }

    &__controls {
      display: flex;
      justify-content: space-between;
      margin-top: auto;

      &-button-arrow {
        height: em(18);
        margin-left: em(15);
        width: em(28);
      }
    }
  }

  &-cta {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    &__thanks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: em(610);
      min-width: em(610 );

      &-title {
        margin-bottom: 15px;
        font: {
          size: em(30);
          weight: 300;
        }
      }

      &-subtitle {
        line-height: 1.4;
        opacity: 0.3;
        font: {
          size: em(20);
          weight: 300;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: em(300);
      min-width: em(300);

      &-title {
        margin-bottom: 10px;
        font: {
          size: em(26);
          weight: 300;
        }
      }

      &-subtitle {
        line-height: 1.4;
        opacity: 0.4;
        font: {
          size: em(14);
          weight: 300;
        }
      }
    }

    &__gifts {
      &-title {
        margin-bottom: 20px;
        font: {
          size: em(16);
          weight: 300;
        }
      }
    }

    &__gift {
      background-color: var(--dark-color-lighter);
      border-radius: em(10);
      max-height: em(285);
      min-height: em(285);
      max-width: em(295);
      min-width: em(295);
      position: relative;

      &-wrapper {
        display: flex;
        justify-content: space-between;
      }

      &-text {
        left: em(25);
        line-height: 1.4;
        position: absolute;
        right: em(25);
        top: em(25);
        font: {
          size: em(14);
          weight: 300;
        }

        & strong {
          font-weight: 500;
        }
      }

      &-img {
        bottom: 0;
        max-height: em(200);
        max-width: em(285);
        position: absolute;
        right: 0;
      }
    }

    &__switches {
      margin-bottom: em(25);

      &-headline {
        margin-bottom: 15px;
        font: {
          size: em(14);
          weight: 300;
        }
      }
    }

    &__switch {

      &-wrapper {
        display: flex;
        justify-content: space-between;
      }

      & input:checked ~ &-bg {
        fill: var(--accent-color-green);
      }

      &-bg {
        fill: var(--dark-color-lighter);
        max-height: em(80);
        min-height: em(80);
        max-width: em(70);
        min-width: em(70);
        transition: fill .25s;
      }

      &-icon {
        height: em(35);
        left: 50%;
        position: absolute;
        top: em(15);
        transform: translateX(-50%);
        width: em(35);
      }

      &-text {
        bottom: em(20);
        left: 50%;
        opacity: 0.4;
        transform: translateX(-50%);
        font: {
          size: em(10);
          weight: 300;
        }
      }
    }

    &__tel-input {
      display: block;

      input {
        background: none;
        border: none;
        color: var(--light-color);
        height: 100%;
        padding: em(15);
        position: absolute;
        width: 100%;
        font: {
          family: var(--subtitle-font);
          size: em(16);
          weight: 300;
        }
      }

      img {
        display: block;
        fill: var(--dark-color-lighter);
        max-height: em(75);
        min-height: em(75);
        width: 100%;
      }
    }

    &__submit-btn {
      max-height: em(75);
      min-height: em(75);
      max-width: 100%;
      min-width: 100%;

      span {
        font-size: em(12);
        line-height: 1.4;
      }
    }
  }
}
